body {
	background: -webkit-linear-gradient(left, #5e5e5e,#333333,#000000);
	background: linear-gradient(to right, #5e5e5e,#333333,#000000);
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(left, #000000,#333333,#5e5e5e);
	background: linear-gradient(to right, #000000,#333333,#5e5e5e);
}

.intro_title {
	color: #ffd500;
	font-size: 150px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
}

.intro_inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}

/*header*/
.header {
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.logo {
	color: #f80;
	font-size: 30px;
	font-weight: 700;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*nav*/
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link {
	margin: 0 10px;
	display: inline-block;
	vertical-align: top;
	color: #eaff00;
	text-decoration: none;
	position: relative;
	transition: color .2s linear;
}

.nav_link:hover {
	color: #f80;
}

.nav_link:after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #f80;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .1s linear;
}

.nav_link:hover:after {
	opacity: 1;
}

/*rules*/
.rules {
	color: #f80;
	font-size: 30px;
	align-items: center;
}