{% extends 'main/loyaut.html' %}

{% block content %}
	<div class="features">
		<h1>Правила</h1>
		<h2>1. Игровой процесс<br><br>1.1 Запрещено использовать читы, трейнеры, моды и т.д.<br>1.2 Запрещено убивать игроков на месте спауна.<br>1.3 Запрещено использовать "ESC" в целях "спасения" от оппонента.<br>1.4 Запрещено стоять на паузе длительное время.<br>1.5 Запрещено использование багов, ошибок, недоработак мода.<br>1.6 Запрещена любая ускоренная прокачка персонажа и навыков.<br>1.7 Запрещено заниматься не игровой коммерцией<br>1.8 Запрещено передавать свой пароль на сервере другим лицам<br><br>2. Процесс общения<br><br>2.1 Запрещено проявлять неуважение к серверу и его разработчикам.<br>2.2</h2>	
	</div>
{% endblock %}